@import "js/node_modules/bulma/css/bulma.min.css";

.dark-card {
    background-color: #363636;
}

.dark-card > .card-content > .title,
.dark-card > .card-content > .subtitle,
.dark-card > .card-footer > .card-footer-item > span,
.dark-card > .card-content {
    color: whitesmoke;
}

@media screen and (min-width: 769px) {
    .mobile-image {
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 768px) {
    .desktop-image {
        display: none;
        visibility: hidden;
    }
}
.enter {
    overflow: hidden;
    position: relative;

    animation: enter 1.2s ease;
}

.enter-b {
    overflow: hidden;
    position: relative;

    animation: enter-b 1.2s ease;
}

@keyframes enter {
    0% {
        transform: translateY(70%);
        opacity: 30%;
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes enter-b {
    0% {
        opacity: 30%;
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0%);
    }
}
