<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ben Wireman</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    .dark-card {
      background-color: #363636;
    }

    .dark-card>.card-content>.title,
    .dark-card>.card-content>.subtitle,
    .dark-card>.card-footer>.card-footer-item>span,
    .dark-card>.card-content {
      color: whitesmoke;
    }
  </style>
</head>

<body>
  <section class="hero is-dark">
    <div class="hero-body">
      <p class="title">
        Ben Wireman
      </p>
      <p class="subtitle">
        Software Engineer
      </p>
    </div>
  </section>

  <br>
  <div class="columns is-centered">
    <div class="column is-four-fifths">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <img src="{{site.logo | relative_url}}" alt="ME">
              </figure>
            </div>
            <div class="media-content is-size-4">
              I'm a Software Engineer, Half-Elf Sorcerer, and Kubernetes skeptic, interested in functional programming,
              cyber security and distributed systems. I received a BS in Computer Science from ths University of
              Michigan.
            </div>
          </div>
        </div>
        <footer class="card-footer">
          <a href="https://www.linkedin.com/in/benjamin-wireman-1342bb127/" class="card-footer-item">
            <span class="icon is-size-2 has-text-dark"><i class="fab fa-linkedin"></i></span>
          </a>
          <a href="https://github.com/bwireman" class="card-footer-item">
            <span class="icon is-size-2 has-text-dark"><i class="fab fa-github"></i></span>
          </a>
        </footer>
      </div>
    </div>
  </div>


  <div class="columns is-centered">
    <div class="column is-two-fifths">
      <section class="section">
        <h1 class="title">
          <span class="icon is-large has-text-dark"><i class="fas fa-briefcase"></i></span>
          Work Experience
        </h1>

        <div class="card">
          <div class="card-content">
            <p class="title">
              Alertmedia
            </p>
            <p class="subtitle">
              Software Engineer, June 2021 - Now
            </p>
          </div>
        </div>

        <br>
        <div class="card">
          <div class="card-content">
            <p class="title">
              Censys, Inc
            </p>
            <p class="subtitle">
              Software Engineer, August 2019 - June 2021
            </p>
            <p>
              Worked to develop micro-services and ETL pipelines to ingest and process our data. Developed custom schema
              generation and helped to maintain our search engine.
            </p>
          </div>
        </div>

        <br>
        <div class="card">
          <div class="card-content">
            <p class="title">
              Censys, Inc
            </p>
            <p class="subtitle">
              Software Engineering Intern, May 2019 - August 2019
            </p>
            <p>
              Helped develop scanners for the Censys search engine.
            </p>
          </div>
        </div>

        <br>
        <div class="card">
          <div class="card-content">
            <p class="title">
              University Of Michigan, College of Engineering
            </p>
            <p class="subtitle">
              Introduction to Computer Security IA, EECS 388, August 2018 - April 2019
            </p>
            <p>
              I worked as an Instructional Aide for the University’s intro Cyber Security course. The class was an
              overview of several security topics, including: Web Security, Cyber Forensics, and Shell Injection.
            </p>
          </div>
        </div>

        <br>
        <div class="card">
          <div class="card-content">
            <p class="title">
              Bank Of America
            </p>
            <p class="subtitle">
              Global Markets Operations Technology Intern, June 2018 – August 2018
            </p>
            <p>
              I used the Python library <code class="language-plaintext highlighter-rouge">sci-kit learn</code> to help
              develop machine learning models. I also worked to develop tools to more easily get machine learning models
              up and running in the future.
            </p>
          </div>
        </div>

        <br>
        <div class="card">
          <div class="card-content">
            <p class="title">
              Tyler Technologies, Courts & Justice
            </p>
            <p class="subtitle">
              Development Intern, June 2017 – August 2017
            </p>
            <p>
              I used <code class="language-plaintext highlighter-rouge">.NET</code>, <code
                class="language-plaintext highlighter-rouge">MSSQL</code>, <code
                class="language-plaintext highlighter-rouge">AngularJS</code> and <code
                class="language-plaintext highlighter-rouge">ElasticSearch</code> to help rebuild the company’s
              internal
              project tracking site.
            </p>
          </div>
        </div>
      </section>
    </div>

    <div class="column is-two-fifths">
      <section class="section">
        <h1 class="title">λ Programming Languages</h1>
        <div class="content">
          <ul>
            <li>Go</li>
            <li>Java</li>
            <li>Scala</li>
            <li>Python</li>
            <li>C/C++</li>
            <li>Elixir</li>
            <li>Javascript</li>
          </ul>
        </div>
      </section>

      <section class="section">
        <h1 class="title">
          <span class="icon is-large has-text-dark"><i class="fas fa-server"></i></span>
          Technologies
        </h1>
        <div class="content">
          <ul>
            <li>Linux</li>
            <li>Docker</li>
            <li>Django</li>
            <li>Kubernetes</li>
            <li>Flask</li>
            <li>Phoenix</li>
            <li>ElasticSearch</li>
            <li>Google Cloud Platform</li>
            <li>Apache Beam & Airflow</li>
            <li>Bash</li>
            <li>Nginx</li>
          </ul>
        </div>
      </section>

      <section class="section">
        <h1 class="title">
          <span class="icon is-large has-text-dark"><i class="fas fa-wrench"></i></span>
          Personal Projects
        </h1>

        <div class="card dark-card">
          <div class="card-content">
            <p class="title">
              censys_ex
            </p>
            <p class="subtitle">
              Elixir ⚗️ wrapper for Censys Search V2 API
            </p>
            <p>
          </div>
          <footer class="card-footer">
            <a href="https://github.com/bwireman/censys_ex" class="card-footer-item">
              <span class="icon is-size-3"><i class="fab fa-github"></i></span>
            </a>
          </footer>
        </div>

        <br>
        <div class="card dark-card">
          <div class="card-content">
            <p class="title">
              Delay
            </p>
            <p class="subtitle">
              A dead simple data-structure for delaying side effects. Written in the excellent gleam ✨ language, and elixir!
            </p>
            <p>
          </div>
          <footer class="card-footer">
            <a href="https://github.com/bwireman/kickflip" class="card-footer-item">
              <span class="icon is-size-3"><i class="fab fa-github"></i></span>
            </a>
          </footer>
        </div>
    </div>
    </section>

  </div>
  </div>
</body>

</html>