<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ben Wireman</title>
  <link rel="stylesheet" href="assets/js/out/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="assets/js/out/js/src/main.js"></script>
</head>

<body>
  <section class="hero is-dark">
    <div class="hero-body">
      <p class="title">
        Ben Wireman
      </p>
      <p class="subtitle">
        Software Engineer
      </p>
    </div>
  </section>

  <br>
  <div class="columns enter is-centered">
    <div class="column is-four-fifths">
      <div class="card">
        <div class="card-image mobile-image">
          <figure class="image">
            <img src="{{site.logo | relative_url}}" alt="ME">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="desktop-image media-left">
              <figure class="image is-128x128">
                <img class="is-rounded" src="{{site.logo | relative_url}}" alt="ME">
              </figure>
            </div>
            <div class="media-content is-size-4">
              I'm a Software Engineer, Half-Elf Sorcerer, and Kubernetes skeptic, interested in functional programming,
              cyber security and distributed systems. I received a BS in Computer Science from the University of
              Michigan.
            </div>
          </div>
        </div>
        <footer class="card-footer">
          <a href="https://www.linkedin.com/in/benjamin-wireman-1342bb127/" class="card-footer-item">
            <span class="icon is-size-2 has-text-dark"><i class="fab fa-linkedin"></i></span>
          </a>
          <a href="https://github.com/bwireman" class="card-footer-item">
            <span class="icon is-size-2 has-text-dark"><i class="fab fa-github"></i></span>
          </a>
        </footer>
      </div>
    </div>
  </div>


  <div class="columns enter-b is-centered">
    <div class="column is-two-fifths">
      <section class="section">
        <h1 class="title">
          <span class="icon is-large has-text-dark"><i class="fas fa-briefcase"></i></span>
          Work Experience
        </h1>

        <div class="card hoverable">
          <div class="card-content">
            <p class="title">
              Alertmedia
            </p>
            <p class="subtitle">
              Software Engineer <br> June 2021 - Now
            </p>
            <p>
              Doing full stack development for our saas product, using React and Django.
            </p>
          </div>
        </div>

        <br>
        <div class="card hoverable">
          <div class="card-content">
            <p class="title">
              Censys, Inc
            </p>
            <p class="subtitle">
              Software Engineer <br> August 2019 - June 2021
            </p>
            <p>
              Worked to develop micro-services and ETL pipelines to ingest and process our data. Developed custom schema
              generation and helped to maintain our search engine.
            </p>
          </div>
        </div>

        <br>
        <div class="card hoverable">
          <div class="card-content">
            <p class="title">
              Censys, Inc
            </p>
            <p class="subtitle">
              Software Engineering Intern <br> May 2019 - August 2019
            </p>
            <p>
              Helped develop scanners for the Censys search engine.
            </p>
          </div>
        </div>

        <br>
        <div class="card hoverable">
          <div class="card-content">
            <p class="title">
              University Of Michigan, College of Engineering
            </p>
            <p class="subtitle">
              Introduction to Computer Security IA, EECS 388 <br> August 2018 - April 2019
            </p>
            <p>
              I worked as an Instructional Aide for the University’s intro Cyber Security course. The class was an
              overview of several security topics, including: Web Security, Cyber Forensics, and Shell Injection.
            </p>
          </div>
        </div>

        <br>
        <div class="card hoverable">
          <div class="card-content">
            <p class="title">
              Bank Of America
            </p>
            <p class="subtitle">
              Global Markets Operations Technology Intern <br> June 2018 – August 2018
            </p>
            <p>
              I used 'sci-kit learn' to help develop machine learning models, & worked to develop tools to more easily
              get models trained in the future.
            </p>
          </div>
        </div>

        <br>
        <div class="card hoverable">
          <div class="card-content">
            <p class="title">
              Tyler Technologies, Courts & Justice
            </p>
            <p class="subtitle">
              Development Intern <br> June 2017 – August 2017
            </p>
            <p>
              Helped to rebuild the company's internal project tracking site, using .NET, Angular.JS & Elasticsearch.
            </p>
          </div>
        </div>
      </section>
    </div>

    <div class="column is-two-fifths">
      <section class="section">
        <h1 class="title">λ Programming Languages</h1>
        <div class="content is-size-5">
          <ul>
            <li>Python</li>
            <li>GO</li>
            <li>Elixir</li>
            <li>Java</li>
            <li>Scala</li>
            <li>C/C++</li>
            <li>Javascript</li>
          </ul>
        </div>
      </section>

      <section class="section">
        <h1 class="title">
          <span class="icon is-large has-text-dark"><i class="fas fa-server"></i></span>
          Technologies
        </h1>
        <div class="content is-size-5">
          <ul>
            <li>React</li>
            <li>Linux</li>
            <li>Docker</li>
            <li>Django</li>
            <li>Kubernetes</li>
            <li>Flask</li>
            <li>Phoenix</li>
            <li>ElasticSearch</li>
            <li>Google Cloud Platform</li>
            <li>Apache Beam & Airflow</li>
            <li>Bash</li>
          </ul>
        </div>
      </section>

      <section class="section">
        <h1 class="title">
          <span class="icon is-large has-text-dark"><i class="fas fa-code-branch"></i></span>
          Personal Projects
        </h1>

        <div class="card dark-card">
          <div class="card-content">
            <p class="title">
              gleam_pb
            </p>
            <p class="subtitle">
              Protobuf support for Gleam ✨, written in GO
            </p>
            <div class="loader" id="gleam-pb-stars"></div>
          </div>
          <footer class="card-footer lang-footer golang">
            <a href="https://github.com/bwireman/gleam_pb" class="card-footer-item">
              <span class="icon is-size-3"><i class="fab fa-github"></i></span>
            </a>
          </footer>
        </div>
        <br>
        <div class="card dark-card">
          <div class="card-content">
            <p class="title">
              censys_ex
            </p>
            <p class="subtitle">
              Elixir ⚗️ wrapper for Censys Search V2 API
            </p>
            <span id="censys-ex-stars" class="loader"></span>
          </div>
          <footer class="card-footer lang-footer elixir">
            <a href="https://github.com/bwireman/censys_ex" class="card-footer-item">
              <span class="icon is-size-3"><i class="fab fa-github"></i></span>
            </a>
            <a href="https://hex.pm/packages/censys_ex/" class="card-footer-item">
              <span class="icon is-size-3">📦</span>
            </a>
          </footer>
        </div>
        <br>
        <div class="card dark-card">
          <div class="card-content">
            <p class="title">
              esgleam
            </p>
            <p class="subtitle">
              esbuild plugin for gleam 🌸, in use on this site!
            </p>
            <span id="esgleam-stars" class="loader"></span>
          </div>
          <footer class="card-footer lang-footer gleam">
            <a href="https://github.com/bwireman/esgleam" class="card-footer-item">
              <span class="icon is-size-3"><i class="fab fa-github"></i></span>
            </a>
            <a href="https://www.npmjs.com/package/esgleam" class="card-footer-item">
              <span class="icon is-size-3">📦</span>
            </a>
          </footer>
        </div>
    </div>
    </section>

  </div>
  </div>
</body>

</html>