$footer-padding: 0rem;

@use "bulma/sass/base";
@use "bulma/sass/themes";
@use "bulma/sass/utilities";
@use "bulma/sass/layout";
@use "bulma/sass/elements";
@use "bulma/sass/components";
@use "bulma/sass/grid";
@use "bulma/sass/helpers";

@import "@fontsource/jetbrains-mono/400.css";

$golang: #00add8;
$elixir: #6e4a7e;
$gleam: #ffaff3;
$typescript: #2b7489;
$javascript: #f1e05a;
$dark: #363636;
$orange: #ffae5f;
$link: $dark;

.hljs {
  font-family: "JetBrains Mono", monospace;
}

.link {
  color: $link;
  text-decoration: underline;
}

.hoverable {
  transition: all 0.35s ease-in-out;

  &:hover {
    box-shadow: .5rem .5rem .25rem #757373;
    transform: scale(1.05);
    z-index: 10;
  }
}

.card-footer-item:hover {
  background-color: whitesmoke;
}

.card-footer-item,
.card-footer-item .icon,
.card-footer-item .icon .fa-solid,
.card-footer-item .icon .fab {
  transition: all 0.35s ease-in-out;
  padding: .85rem;
}

.card-footer-item:hover .icon .fa-solid,
.card-footer-item:hover .icon .fab {
  color: $dark;
}

.lang-footer {
  border-top-width: 0em;
  animation: wipe 3s ease alternate infinite;

  &.golang {
    background: linear-gradient(to right, $golang, $gleam);
  }

  &.dreamy {
    background: linear-gradient(to right, $dark, $elixir 25% 75%, $dark);
  }

  &.censys_ex {
    background: linear-gradient(to right, $dark, $elixir 25% 75%, $orange);
  }

  &.gleam {
    background: linear-gradient(to right, $typescript, $gleam, $javascript);
  }

  &.dark {
    color: whitesmoke;
    background-color: $dark;

    >.card-footer-item>span>i {
      color: whitesmoke;
    }
  }
}

.dark-card {
  background-color: $dark;

  >.card-content>.title,
  >.card-content>.subtitle,
  >.card-footer>.card-footer-item>span,
  >.card-content {
    color: whitesmoke;
  }
}

code,
pre {
  background-color: $dark;
  margin: 0rem -1rem -1rem -1rem;
}